# 解决国内用户下载 Electron 相关依赖时失败的问题
REGISTRY = https://registry.npmmirror.com/
ELECTRON_MIRROR = https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR = https://npmmirror.com/mirrors/electron-builder-binaries/
