# 解决国内用户下载 Electron 相关依赖时失败的问题
registry = https://registry.npmmirror.com/
electron_mirror = https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror = https://npmmirror.com/mirrors/electron-builder-binaries/
# 通过该配置兜底解决组件没有类型提示的问题
shamefully-hoist = true
# 安装依赖时锁定版本号
save-exact = true
